<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Release FAST mac BitcoinApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS BitcoinApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mac BitcoinApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D063E9141E74BF97006E2D17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D063E92D1E74BF97006E2D17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D063E9401E74C024006E2D17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D063E95B1E74C024006E2D17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
